[Desktop Entry]
Name=Notification Daemon
Comment=Lightweight notification daemon
Icon=dunst
Exec=dunst
Terminal=false
Type=Application
NoDisplay=true
OnlyShowIn=i3;
NotShowIn=KDE;GNOME;
X-GNOME-UsesNotifications=true
