[Desktop Entry]
Type=Application
Name=Network
Comment=Manage your network connections
Icon=nm-device-wireless
Exec=nm-applet
Terminal=false
NoDisplay=true
NotShowIn=KDE;GNOME;
Categories=GTK;Utility;TrayIcon;Network;
X-GNOME-UsesNotifications=true
