[Desktop Entry]
Type=Application
Name=Proton VPN
GenericName=VPN Client
Comment=Proton VPN GUI client
Exec=protonvpn-app
Icon=proton-vpn-logo
Terminal=false
StartupWMClass=Protonvpn
Categories=Network;
