[Desktop Entry]
Name=XFCE Clipman
Comment=Clipboard history utility
GenericName=Clipboard Manager
Icon=xfce4-clipman-plugin
TryExec=xfce4-clipman
Exec=xfce4-clipman
StartupNotify=false
OnlyShowIn=XFCE;i3;
Terminal=false
Hidden=false
Categories=GTK;Utility;TrayIcon;
